/* Налаштування стилів для навігаційної панелі */
nav {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

nav .navbar-brand img {
  max-width: 100%;
}

nav .nav-link {
  color: #212529;
}

nav .nav-link:hover {
  color: #007bff;
}

/* Налаштування стилів для блоку з заголовком */
.jumbotron {
  background-color: #007bff;
  color: #fff;
  margin-bottom: 0;
  text-align: center;
}

.jumbotron h1 {
  font-size: 48px;
  margin-bottom: 0.5rem;
}

.jumbotron p {
  font-size: 24px;
}

/* Налаштування стилів для блоків з послугами */
.card {
  margin-bottom: 30px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.card-img-top {
  border-bottom: 1px solid #dee2e6;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-text {
  font-size: 16px;
  line-height: 1.5;
  height: 100px;
  overflow: hidden;
}

/* Налаштування стилів для блоків з працівниками */
.card-img-top {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  object-fit: cover;
  margin: 0 auto;
  border: 4px solid #fff;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

/* Налаштування стилів для блоків з відгуками */
.card {
  border: none;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.card .card-img-top {
  height: 150px;
  object-fit: cover;
}

.card .card-text {
  font-size: 16px;
  line-height: 1.5;
  height: 120px;
  overflow: hidden;
}

.card .card-title {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Налаштування стилів для кнопок */
.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
background-color: #0069d9;
border-color: #0062cc;
}

.btn-primary:active {
background-color: #0062cc;
border-color: #005cbf;
}

.btn-primary:disabled {
background-color: #007bff;
border-color: #007bff;
}

.btn-link {
font-weight: 400;
color: #007bff;
text-decoration: none;
}

.btn-link:hover {
color: #0056b3;
text-decoration: underline;
}

.btn-link:disabled {
color: #6c757d;
}

.container {
  margin-bottom: 40px;
}
